<h1 id="add-comment">Add a New Comment</h1>

<%= form_for @comment do |f| %>

<div class="new-comment-container">
	<h2>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</h2>

	<h2>
		<%= f.label :venue_name %><br>
		<%= f.text_field :venue_name %>
	</h2>

	<h2>
		<%= f.label :city_and_state %><br>
		<%= f.text_field :city_and_state %>
	</h2>

<!-- 	<h2>
		<%#= f.label :user_name %><br>
		<%#= f.text_field :user_name %>
	</h2> -->

	<h2>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</h2>

	<h2>
		<%= f.submit "Add Comment" %>
	</h2>
<% end %>
</div>