<!DOCTYPE html>
<html>
<head>
	<title>VenuMenu</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="logo"> 
			<span id="svg"> <%= link_to image_tag( 'logo.svg' ), root_path %></span> 
		</div>
		<form class="search">
			<input type="search" placeholder="Search A Venue" id="venue-search">
			<input class="hide" type="submit" value="Submit">
		</form>
		<nav class="buttons">
			<% if current_user %>
			<a href="#"> <%= current_user.name %> </a>
			<%= link_to "Sign out", signout_path %>
			<% else %>
			<%= link_to "Sign in with Twitter", "/auth/twitter?force_login=true" %>
			<% end %>
			<div>
				<%= link_to "Comments", comments_path %>
			</div>
		</nav>
	</header>
	
	<div id="venue-detail"></div>
	<div class="content">
	</div>
	<%= yield %>
	<link src="assets/js/jquery.js">

</body>
</html>